* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Didact Gothic', sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 'clothing bear outfits';
  grid-template-rows: 90vh;
}

header {
  background-color: #0C9463;
  height: 10vh;
  text-align: center;
  font-size: 2em;
}

h1 {
  font-family: 'Francois One', sans-serif;
  padding-top: .5%;
}
