/* GENERAL STYLING */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

main {
  background-color: #FCF9EA;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 90vh;
  grid-template-areas: 'clothing bear outfits';
}

/* HEADER AREA */
header {
  background-color: #5B7F77;
  font-size: 1.7em;
  text-align: center;
}

h1 {
  color: #FCF9EA;
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: .05em;
  padding-top: .5%;
}

/* BUTTONS FOR CLOTING SELECTION */
.clothing-options-container {
  display: flex;
  flex-direction: column;
  grid-area: clothing;
  justify-content: space-around;
  padding-left: 5%;
}

.clothing-option {
  height: 30%;
}

.clothing-option div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
}

button:not(first-child) {
  background-color: #5B7F77;
  border-radius: 4px;
  border: 0;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1em;
  margin: 1.5%;
  padding: 2% 0;
  width: 30%;
}

.clothing-option button:hover,
.save-button-test:hover {
  background-color: #485447;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  transform: scale(0.95);
}

h2 {
  color: #8c6c4f;
  font-weight: bold;
}

/* CONTAINER DISPLAYING THE BEAR */
.bear-container {
  margin: 5% 15%;
}

.bear-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
}

.bear-container div input {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1em;
  margin: auto;
  padding: 2% 0;
  padding-left: 1%;
  width: 60%;
}

.bear-container div button {
  background: #5B7F77;
  border-radius: 4px;
  border: 0;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.2em;
  margin-top: 3%;
  margin: auto;
  padding: 2% 0;
  width: 30%;
}

/* CONTAINER CONTAINING SAVED OUTFIT CARDS */
.saved-outfits-container h2 {
  margin-top: 5%;
  text-align: center;
}

.saved-outfits-container h2 {
  margin-bottom: 10%;
}

.saved-outfits-container div {
  background: #e2bba9;
  border-radius: 4px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  font-size: 1.5em;
  height: 10%;
  justify-content: space-between;
  margin: auto;
  margin-top: 5%;
  width: 80%;
}

.saved-outfits-container div p {
  margin-left: 5%;
  margin-top: 8%;
}

.saved-outfits-container div button {
  background: #e2bba9;
  border: 0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  cursor: auto;
  height: 50%;
  margin-right: 5%;
  margin-top: 5%;
  padding-left: 3%;
  width: 8%;
}

.saved-outfits-container div button img {
  cursor: pointer;
  height: auto;
  margin-top: -10%;
  width: 100%;
}

.all-clothing-options {
  height: 80%;
  padding-top: 5%;
}

/* HIDES ITEM */
.hidden {
  display: none;
}

/* SHOWS WHICH BUTTON IS SELECTED */
.button-clicked {
  background-color: #485447 !important;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3) !important;
  transform: scale(0.95) !important;
}

#save-button:disabled {
  background: #9CB2AD;
  cursor: not-allowed;
  margin-top: 2%;
}

#save-button {
  background: #5B7F77;
  cursor: pointer;
  margin-top: 2%;
}

/* OPTIONS FOR CLOTHING AND BACKGROUND FOR THE BEAR */
.all-images {
  position: relative;
}

#crown-img {
  position: absolute;
    right: 39%;
    top: 11%;
  transform: rotate(16deg);
  width: 18%;
  z-index: 3;
}

#hairbow-img {
  position: absolute;
    right: 40%;
    top: 15%;
  transform: rotate(20deg);
  width: 18%;
  z-index: 3;
}

#necklace-img {
  position: absolute;
    left: 33%;
    top: 48%;
  transform: rotate(10deg);
  width: 20%;
  z-index: 3;
}

#smartwatch-img {
  position: absolute;
    right: 72%;
    top: 41%;
  transform: rotate(60deg);
  width: 9%;
  z-index: 3;
}

#spacehelmet-img {
  position: absolute;
    right: 34%;
    top: 10%;
  transform: rotate(14deg);
  width: 36%;
  z-index: 3;
}

#sunglasses-img {
  position: absolute;
    right: 40%;
    top: 30%;
  transform: rotate(18deg);
  width: 25%;
  z-index: 3;
}

#sunhat-img {
  position: absolute;
    right: 31%;
    bottom: 57%;
  transform: rotate(-10deg);
  width: 38%;
  z-index: 3;
}

#tophat-img {
  position: absolute;
    bottom: 74%;
    right: 34%;
  transform: rotate(15deg);
  width: 30%;
  z-index: 3;
}

#bear-img {
  margin-left: 5%;
  margin-top: 10%;
  position: relative;
  width: 80%;
  z-index: 2;
}

#beach-img,
#hearts-img,
#space-img,
#park-img {
  position: absolute;
    left: 2%;
  width: 90%;
  z-index: 1;
}

#vest-img {
  position: absolute;
    right: 15%;
    top: 11%;
  transform: rotate(deg);
  width: 81%;
  z-index: 3;
}

#bowtie-img {
  position: absolute;
    right: 48%;
    top: 45%;
  transform: rotate(15deg);
  width: 18%;
  z-index: 3;
}

#dress-img {
  position: absolute;
    right: 20%;
    top: 15%;
  transform: rotate(5deg);
  width: 75%;
  z-index: 3;
}
